.gradient-custom {
    background: linear-gradient(to bottom right,
    rgb(147, 235, 251),
    rgb(120, 106, 245));
    height : 100vh
}

.card-img-top {
    width: 100% !important;
    height: 30vh !important;
    object-fit: cover;
}

.myScrollable {
    height: 300px;
    overflow-y: scroll;
}
